speclib/err.txt
speclib/textExample.txt
._.DS_Store
sshRelated/__pycache__
.DS_Store
.cache/
speclib/.cache/
speclib/__pycache__/
*.ipynb_checkpoints
__pycache__
userActivity/comFreq.pandasPickle
networkxNotebookTutorials/
userPCA/pcaPlay.ipynb
userPCA/phone_df.h5
userPCA/useralias.pk
*.h5
.fuse_*
._.TemporaryItems
*.pickle
logs/
.idea
tryout/*.pdf
temp/gps.hdf
temp/jsongps.json.gz
temp/jsongps.json_org
._*
*_log.txt
