speclib/err.txt
speclib/textExample.txt
._.DS_Store
temp
sshRelated/__pycache__
.DS_Store
.cache/
speclib/.cache/
speclib/__pycache__/
*.ipynb_checkpoints
__pycache__
userActivity/comFreq.pandasPickle
