speclib/err.txt
speclib/textExample.txt
._.DS_Store
sshRelated/__pycache__
.DS_Store
.cache/
speclib/.cache/
speclib/__pycache__/
*.ipynb_checkpoints
__pycache__
userActivity/comFreq.pandasPickle
networkxNotebookTutorials/
userPCA/pcaPlay.ipynb
userPCA/phone_df.h5
userPCA/useralias.pk
*.h5
.fuse_*
._.TemporaryItems
*.pickle
logs/
.idea
tryout/*.pdf
temp/gps.hdf
temp/jsongps.json.gz
temp/jsongps.json_org
._*
*_log.txt
userPCA/graph_similarity_plots/
joachim_exercise/data_cross_correlation.pdf
joachim_exercise/gridplot.png
joachim_exercise/logistic_regression_all_data_predict_train_data_training_roc_curve.pdf
joachim_exercise/logistic_regression_auc_score_5_random_feature_sampling.pdf
joachim_exercise/logisticRegressionExample.py
joachim_exercise/logistic_regression_roc_curve.pdf
joachim_exercise/logistic_regression_test_data_roc_curve.pdf
joachim_exercise/logistic_regression_training_data_roc_curve.pdf
joachim_exercise/pca_component_0_vs_prob1.pdf
joachim_exercise/pca_component_1_vs_prob1.pdf
joachim_exercise/pca_component_2_vs_prob1.pdf
joachim_exercise/pca_component_3_vs_prob1.pdf
joachim_exercise/pca_component_4_vs_prob1.pdf
joachim_exercise/pca_eigenvalues_accumulated.pdf
joachim_exercise/pca_eigenvalues_histogram.pdf
joachim_exercise/pca_eigenvalues.pdf
joachim_exercise/pca_eigenvalues_scree.pdf
joachim_exercise/pca_linear_regression_accuracy_vs_components.pdf
joachim_exercise/pca_linear_regression_elastic_net_accuracy_vs_components.pdf
joachim_exercise/pca_linear_regression_L1_L2_accuracy_vs_components.pdf
joachim_exercise/random_forrest_all_data_roc_curve.pdf
joachim_exercise/random_forrest_test_data_roc_curve.pdf
joachim_exercise/random_forrest_training_data_roc_curve.pdf
joachim_exercise/RGender.dat
joachim_exercise/sex_prediction_expanded_data.pdf
joachim_exercise/sex_prediction_expanded_data_prob1_vs_count.pdf
joachim_exercise/sex_prediction_raw_data.pdf
joachim_exercise/sex_prediction_raw_data_prob1_vs_count.pdf
joachim_exercise/statMlFunctions.py
joachim_exercise/svm_all_data_predict_train_data_training_roc_curve.pdf
joachim_exercise/svm_test_data_roc_curve.pdf
joachim_exercise/svm_training_data_roc_curve.pdf
*.pdf
*.log

/morequestions/btlog_graph.txt
morequestions/figs/*
tryLoadData/figs_load_morequestions_data/

/.bashrc
high_performance_python/
